.gif-grid{
    width:90%;
    max-width: 1920px;
    margin: auto;
}
.gifgrid__title{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 16px;
}

.gifgrid__subtitle{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 64px;
}

.gifgrid__cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    gap: 20px;
}